@font-face {
  font-family: "Onest";
  src: url("./assets/fonts/Onest.ttf") format("truetype");
}

html,
body {
  background-color: #101010;
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-size: 15px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

body {
  margin: 0 20px;
}

h1 {
  font-size: 48px;
  margin: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.search-button {
  font-family: "Onest", serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  flex-grow: 1;
  padding: 20px 40px;
  background-color: #4c47eb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.city-input-wrapper {
  background-color: #161616;
  display: flex;
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 20px;
  min-width: 240px;
  position: relative;
}

.city-input-wrapper input {
  font-family: "Onest", serif;
  font-weight: 600;
  font-size: 15px;
  background-color: #161616;
  color: #ffffff;
  padding: 20px 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 100%;
}

.city-input-wrapper input:focus {
  outline: 1px solid #4c47eb;
}

.main-page {
  margin-top: 10vh;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  max-width: 800px;
}

.weather-box {
  background-color: #161616;
  padding: 20px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  color: #fff;
  flex-grow: 1;
}

.weather-box p {
  margin: 0;
}

.weather-box-big {
  font-size: 24px;
  font-weight: bold;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: hidden;
  background-color: #161616;
  position: absolute;
  z-index: 10;
  border-radius: 20px;
  display: none;
  width: 100%;
  top: 100%;
  margin-top: 10px;
}

.suggestions-list li {
  padding: 20px 40px;
  cursor: pointer;
}

.suggestions-list li:hover {
  color: #4c47eb;
}

.hero-section {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.fractalBox {
  max-width: 90px;
  width: 90px;
  padding: 0;
}
